{% extends 'layout.html' %}
{% block content %}
<h1>{{shop.name}}</h1>
<div>
    <p>{{shop.category.namte}}</p>
    <p>{{shop.address}}</p>
</div>
<iframe id="map"  src='https://www.google.com/maps/embed/v1/place?key=AIzaSyCJBgcuCowQa5-V8owXaUCHhUNBN8bfMfU&amp;q={{ shop.address }}'
    width='100%'
    height='320'
    frameborder='0'></iframe>
<div>
    <a href="{% url 'lunchmap:index' %}">一覧</a>|
    {% if request.user.id == object.author_id%}
    <a href="{% url 'lunchmap:update' shop.pk %}">編集</a>|
    <a href="{% url 'lunchmap:delete' shop.pk %}">削除</a>
    {% endif %}
</div>
{% endblock %}